@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;700&family=Inter:wght@500;600;700&family=Noto+Sans+Bengali:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #0a0a0a; 
    /* #0a0a0a;  #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background: rgb(249 115 22 / var(--tw-bg-opacity)); */
  background: #EE3373;
  --tw-bg-opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background : '#EE3373'
}


/* =========================================== */
 .login-input {
    @apply border border-gray-300 focus:border-blue-500 px-4 py-2 rounded-sm focus:outline-none block w-full mt-2;
  }
    .btn {
    @apply bg-transparent text-[#000000b5] text-lg  pb-0 border-2 border-secondary  font-medium font-siliguri transition duration-150 ease-out hover:ease-in hover:bg-secondary hover:text-white;
  }

  .gradientText{
  background: linear-gradient(
      93.77deg,
      rgb(206 92 13) 0%,
      rgb(2 28 12 / 79%) 25%
    ),
    #e6dacf;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  display: inline-block;
}
/* ================================================ */