@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;700&family=Inter:wght@500;600;700&family=Noto+Sans+Bengali:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #0a0a0a;
    /* #0a0a0a;  #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(249 115 22 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .circle {
    left: 57% !important;
  }
}

@media (min-width: 1535px) {
  .circle {
    left: 57% !important;
  }
}

@media (min-width: 1536px) and (max-width: 2000px) {
  .circle {
    left: 40% !important;
  }
}

@media (min-width: 2001px) {
  .circle {
    left: 38% !important;
  }
}
